<%- include ('./partials/header.ejs') %>
    <div class="table-wrapper">
        
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>


             
                
            </table>
        
    </div>
</div>
</body>
</html>