<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="/assets/css/custom.css">-->
    <title><%= title %></title>
</head>
<style>
    .table-wrapper {
        margin: 100px 100px 100px 100px;
        height: 70%;
        width: 80%;
        overflow: auto;
    }

    .add-portfolio-form {
        margin-top: 50px;
    }

    h1 {
        text-align: center;
        margin-top: 200px;
        font-size: 60px;
    }
</style>
<body>
<div class="page-wrapper">
    <nav class="navbar navbar-light" style="background-color: darkseagreen;">
        <span class="navbar-brand mb-0 h1" ><a class="float-right text-dark" href="/admin" title="admin">Admin</a></span>
        
        
       <a class="float-right text-dark" href="/portfolio" title="portfolio">Portfolio</a>
        <a class="float-right text-dark" href="/resume" title="resume">Resume</a>
        <a class="float-right text-dark" href="/contact" title="portfolio">Contact</a>
        <a class="float-right text-dark" href="/addportfolio" title="addportfolio">Add Portfolio submission</a>
        <a class="float-right text-dark" href="/addresume" title="addresume">Add to Resume</a>
        <a class="float-right text-dark" href="/addcontact" title="contacts" >Add Contacts</a>

        <a class="btn btn-light" href="/" role="button">Log Out</a>
    </nav>
    <h1>Hello Again!</h1>
</div>
</body>
</html>